
.navbar {
    height: 10vh;
    opacity: .9;
    background-color: black;
}

.nav-link {
    color: white;
}

.navbar-brand img{
    width: 7rem;
}

#home{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-self: center;
}

.img_inicio{
    border-radius: 3rem;
} 

.sobre-nos, .social-media{
    text-indent: 2.5rem;
    text-align: justify;
}

.social-media_img img{
    width: 25rem;   
}

.servicos-oferecidos_card{
    width: 18rem;
    padding: .5rem;
    border: .1rem solid gray;
    border-radius: 3rem;
}

