@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Stint+Ultra+Expanded&display=swap");

* {
  margin: 0;
  padding: 0;
/*   background-color: black;
  color: white;
  a{
    color: white;
 } */
  h1, .icone, .icone:hover {
    font-family: "Stint Ultra Expanded", serif;
    background-image: linear-gradient(to bottom, black,#14e807) !important;
    background-clip: text;
    -webkit-background-clip: text; /* Para compatibilidade com navegadores WebKit */
    color: transparent; /* Torna o texto invisível */

  }
  h2,
  h3 {
    font-family: "Playfair Display", serif;
  }
  p,
  a, .icone, .icone:hover {
    font-family: "Karla", sans-serif;
 }

 .icone{
  opacity: .5;
 }

 .icone:hover{
  opacity: 1;
 }
}

.navbar {
  height: 10vh;
  opacity: 0.9;
  background-color: black;
}

.nav-link {
  color: white !important ;
}

.nav-link:hover {
    color: #14e807 !important;
  }

.navbar-brand img {
  width: 7rem;
}

.dropdown-menu{
    border: none;
    background:  black;
}

.dropdown-item{
    color: white;
    font-weight: bold;
}

.dropdown-item:hover{
    background: black;
    color: #14e807;
}

.home {
  height: 85vh;
  display: flex;
  align-items: center;
}

.img_inicio,
.gestao-marketing_img img {
  border-radius: 50%;
}

.home,
.sobre-nos_titulo,
.nossos-servicos_titulo,
.social-media_titulo,
.gestao-marketing_titulo,
.contato {
  margin-top: 10vh;
}

.home_introducao,
.sobre-nos,
.social-media-conteudo,
.gestao-marketing-conteudo {
  text-indent: 2.5rem;
  text-align: justify;
}

.botao-btn, .redes-sociais {
  text-indent: 0;
}

.botao-btn{
    
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to bottom, black,#14e807);
    color: black;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    opacity: 0.6;
    font-weight: bold; 
}

.botao-btn:hover{
    opacity: 1;
    color: white;   
}

.social-media_img img,
.gestao-marketing_img img, .home_introducao_img img{
  width: 23rem;
}

.pacote-bronze{
  color: #cd803285;
}

.pacote-prata{
  color: #c0c0c080;
}

.pacote-ouro{
  color: #ffd900b5;
}

.servicos-oferecidos_card,
.nossos-diferenciais_card,
.investimento_card,
.gestao-marketing_card {
  width: 18rem;
  padding: 0.5rem;
 /*  border: 0.1rem solid gray; */
  border-radius: 3rem;
  background: rgba(128, 128, 128, 0.11);
}

.missao-visao-valores_card {
  width: 25rem;
  padding: 1.5rem;
 /*  border: 0.1rem solid gray; */
  border-radius: 2rem;
 background: rgba(128, 128, 128, 0.11);
}

.plano-servicos_card{
  padding: 0.5rem;
 /*  border: 0.1rem solid gray; */
  border-radius: 3rem;
 background: rgba(128, 128, 128, 0.11);
}

.redes-sociais{
  width: 35rem;
  padding: 0.5rem;
  /*  border: 0.1rem solid gray; */
   border-radius: 2rem;
  background: rgba(128, 128, 128, 0.11);
}

.rodape {
    background: black;
    
}

.rodape a{
    margin: .8rem;
    text-decoration: none;
    color:white;
    font-weight: bold;

}

@media screen and (min-width: 992px) {
  .social-media_img img,
.gestao-marketing_img img, .home_introducao_img img{
  width: 25rem;
}
.icone {
  font-size: 1.3rem !important ;
}
}